.listings-page {
    background-color: #fff;
    color: #000;
}

.listings-page__count {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.listings-page__results {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
